@use "_tools/colors";

.city {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$lightgrey;
    text-align: center;
    padding: 0.5rem;
    gap: 1rem;
    width: 100%;

    & i {
        font-size: 1.5rem;
    }
}