@use "_tools/_shadow";
@use "_tools/_gradient";
@use "_tools/mixin";

/* EXPLORER*/
.explorer {
    text-align: center;

    & h2 {
        
        font-size: 30px;
    }

    & p {
        font-size: 16px;
    }



    /*CSS GRADIENT*/
    & button {
        @include gradient.gradient;
        @include shadow.buttonshadow;
        @include mixin.base-button;
    }

   
}