@use "_tools/colors";
@use "_tools/gradient";
@use "_tools/mixin";



.menu {

    background-color: colors.$lightgrey;
    margin-bottom: 1rem;
    
    .menu__cards {
        margin: 0 1rem;
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
            /*grid-template-rows: repeat(4, 1fr);*/
        } 
        /*using sudo-elements creating the NEW box in CSS only*/
        .new {
            
            position: relative;
        }
            .new::before {
                content: "New";
                position: absolute;
                height: 2rem;
                width: 6rem;
                background-color: colors.$green;
                color: darken($color: colors.$green, $amount: 50);
                /*found in SASS notes how to do the above*/
                display: grid; 
                place-items: center;
                right: 1rem;
                top: 1rem;


            }
            
        } 
    
        
        
    }


    
    .card {
        
        height: 300px;
        border-radius: 3rem;
        background-color: white;
        cursor: pointer;
        position:relative;
        
    img {
     height: 200px;
     width: 100%;
     object-fit: cover;
     border-radius: 3rem 3rem 0 0;

    }
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        /*grid-template-rows: repeat(4, 1fr);*/
        width: 100%;
    }


    __description {        
        position: relative;
        background-color: white;
        border-radius: 0 0 1rem 1rem;
       
    }
        
       
h3 {
    
    padding-top: 0.5rem;
}   
   
}
.heart-icon {
    position: absolute;
    transform: translateY(12rem);
}
 

