//**rotation of ticks on menuusing the transfor ROTATE element**//
//*https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes controlling the steps of animation*/
@mixin quarterspin {
    @keyframes quarterspin {
        0% {
            transform: rotate(-270deg);
        }
        100% {
            transform: rotate(0);
        }
    }
}
//***getting the fade in for the menus**//
/*changed from scale*/
/** Us @keyframes and set the steps in which the animation occurs by setting offsets % **/
@keyframes fadeInMenus {
    0% {
     
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }