@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 3px 0.5px lightgrey;
  padding: 0.3rem;
  position: relative;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0rem;
}
main h2 {
  padding: 2rem 0;
  margin: 0;
}
main a {
  text-decoration: none;
  color: inherit;
}
main h3, main p {
  margin: 0;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7e7e7e;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid red;
  gap: 1rem;
  width: 100%;
}
.city i {
  font-size: 1.5rem;
}

/* EXPLORER*/
.explorer {
  text-align: center;
  /*CSS GRADIENT*/
}
.explorer h2 {
  font-size: 30px;
}
.explorer p {
  font-size: 16px;
}
.explorer button {
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  color: white;
  font-size: 25px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  /*box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.38);*/
  transition: 300ms;
  margin-top: 1rem;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.38);
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.howitworks {
  margin: 10px;
}
.howitworks ol {
  display: flex;
  gap: 2rem;
  counter-reset: section;
}
@media (max-width: 768px) {
  .howitworks ol {
    flex-direction: column;
  }
}
.howitworks li {
  font-weight: bold;
  background-color: #f6f6f6;
  flex-grow: 1;
  border-radius: 10px;
  padding: 15px 30px;
  box-shadow: 0px 4px 6px 6px rgba(0, 0, 0, 0.12);
  list-style-type: none;
  /*needed for :before position:absolute to work below*/
  position: relative;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.38);
}
.howitworks li::before {
  counter-increment: section;
  content: counter(section);
  color: white;
  background-color: #9356dc;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -13px;
  top: 12px;
}
.howitworks li:hover {
  transform: scale(1.02);
}
.howitworks i {
  margin-right: 1rem;
  color: blue;
}

.menu {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
}
.menu .menu__cards {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  /*sudo-elements creating the NEW box in CSS only*/
}
@media screen and (max-width: 768px) {
  .menu .menu__cards {
    grid-template-columns: repeat(1, 1fr);
    /*grid-template-rows: repeat(4, 1fr);*/
  }
}
.menu .menu__cards .new {
  border: 1px solid red;
  position: relative;
}
.menu .menu__cards .new::before {
  content: "New";
  position: absolute;
  height: 2rem;
  width: 6rem;
  background-color: #99E2D0;
  color: #1b6150;
  /*found in SASS notes how to do the above*/
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}

.card {
  height: 300px;
  border-radius: 3rem;
}
.card img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3rem 3rem 0 0;
}
@media screen and (max-width: 768px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
    /*grid-template-rows: repeat(4, 1fr);*/
    width: 100%;
  }
}
.card__description {
  position: relative;
}
.card__description h3 {
  margin: 0.5;
  padding-top: 0.5rem;
}
.card__description i {
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.footer {
  background-color: #1d2022;
}/*# sourceMappingURL=style.css.map */